body{
    font-family: Open Sans;
    font-size: 10px;
}

#header{
    font-size: 8em;
    font-weight: 300;
    text-align: center;
}

.Gyroscope img{
    display: block;
    border: 1px solid gray;
    width: 40%;
    float: left;
    margin-right: auto;
    margin-left: 1%;
}

.Gyroscope h1{
    margin-left: 9%;
    font-size: 5em;
    margin-bottom: 0;
    font-weight: 300;

}

.Gyroscope p{
    font-size: 2em;
    margin-left: 9%;
    float: left;
}

.title{
    font-weight: 600;
}

.date{
    margin: 0;
    color: gray;
}


.Slider h1{
    float: left;
    margin-left: 9%;
    font-size: 5em;
    margin-bottom: 0;
    font-weight: 300;
}


.Slider img{
    width: 40%;
    margin-top: 7%;
    border: 1px solid gray;
    margin-left: 1%;
}

.Slider p{
    margin-left: 9%;
    font-size: 2em;
}

#last-entry{
    margin-bottom: 15%;
}

#footer{
    font-weight: 600;
    margin-left: 9%;
    margin-bottom: 5%;
}

