body{
    /* border: 1px solid red; */

    font-family: Open Sans;
    color: black;
    font-size: 12px;  
    height: 80%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

hr.overline{
    border-top: 1px solid black;
}

h1 {
    margin-top:0;
    font-size: 2rem;
}

h2{
    font-size: 1rem;
}

.link{
    color: black;
    text-decoration: underline red;
}

.link:hover{
    color: gray;
    /* opacity: 50%; */
}

