body{
    /* border: 1px solid black; */

    font-family: Open Sans;
    color: black;
    font-size: 10px;  
    height: 80%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

hr.overline{
    border-top: 1px solid black;
}

.links{
    /* border: 1px solid green; */
    text-align: center;
    width: 100%;
    /* padding-right: 3%; */
    font-size: 1rem;
    float: left;
    /* margin-left: 7rem; */

}

.tab{
    text-align: center;
    margin-left: 3.5rem;
    float: left;
}

a{
    color: gray;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: underline;
}


#about{
    /* border: 1px solid black; */
    color: black;
    font-size: 3em;
    font-weight: 600;
    margin-top: 8rem;
    margin-left: 6rem;
    float: left;
}

span{
    color: white;
}

span:hover{
    color: black;
}

p{
    font-weight: 300;
    font-size: .5em;
}

